@charset "UTF-8";
/*
node-sass base/static/outside/css/base.scss base/static/outside/css/base.css
Executando o comando no VSCode 
Shift + Control/Command + P -> Run Task
*/
.clear-margin {
  margin: 0;
}

.clear-padding {
  padding: 0;
}

.align-right {
  text-align: right;
}

.clear-padding-margin {
  margin: 0;
  padding: 0;
}

#grid-content, .clear {
  padding: 0;
  margin: 0;
}

.obrigatorio {
  /* Regra para campos obrigatórios */
  border-color: #ef5350;
}

.erro {
  border-color: #d50000;
}

.text-center {
  text-align: center !important;
}

/* Nav Bar */
#navbar-top {
  margin-bottom: 35px;
}

#navbar-top img#brasao {
  width: 40px;
  margin-top: -10px;
}

span.badge.inverse {
  background-color: transparent !important;
  color: #000 !important;
  margin-left: -15px;
  margin-top: -25px;
}

/* Menu Lateral */
#menu-left {
  margin: -35px 0 0 10px;
  padding: 35px 0 0 0;
  color: #616161 !important;
}

#menu-left div {
  color: #616161 !important;
  border-radius: 0 !important;
}

#menu-left div a {
  color: #616161 !important;
}

#menu-left > div > div {
  border-bottom: solid 1px #e0e0e0 !important;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  padding: 0 0 8px 0;
  position: relative;
}

#div-content-content {
  padding-left: 10px;
  padding-right: 10px;
}

/* Adicionando um padding as div row*/
.row {
  padding: 16px 0;
}

/* Adicionando um padding ao conteúdo das tabs*/
.tab-content {
  padding: 8px 16px;
}

table.table td {
  text-align: left;
}

table.sem-borda {
  border: none !important;
}

table.sem-borda th, table.sem-borda td {
  border: none !important;
}

/* Menu Sub Menu*/
.menu-submenu {
  border: none !important;
  border-color: white !important;
  border-radius: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.menu-submenu div {
  border: none !important;
  border-color: white !important;
  border-radius: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.menu-submenu div.panel {
  border: none !important;
  border-color: white !important;
  border-radius: 0;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.menu-submenu div.panel-heading, .menu-submenu div.panel {
  background-color: transparent !important;
}

.menu-submenu div.panel-body {
  padding: 0 30px;
}

.menu-submenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 10px;
}

.menu-submenu ul li {
  padding: 6px 12px;
}

.menu-submenu h4 > a {
  font-weight: 500;
  text-decoration: none;
}

.menu-submenu h4 > a:hover {
  font-weight: 500;
  text-decoration: none;
}

.menu-submenu ul li a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  display: block;
}

.menu-submenu ul li a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.7);
  display: block;
}

.menu-submenu div.panel-heading:hover, .menu-submenu ul li:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

#div-add-button-top {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  text-align: right;
}

#div-btn-search-filter {
  padding-top: 25px;
}

#ul-pagination-item {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

button.btn-inline-form {
  margin: 0 !important;
}

div.input-group > button.btn {
  margin-top: 0 !important;
  margin-left: 5px !important;
}

/* Modal */
.modal-center {
  text-align: center;
  padding: 0 !important;
}

.modal-center:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}

.modal-center-dialog {
  display: inline-block;
  text-align: left;
  max-width: 90%;
  vertical-align: middle;
}

.modal-bottom {
  text-align: center;
  padding: 0 !important;
  padding-bottom: 15px !important;
}

.modal-bottom:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: bottom;
  margin-right: -4px;
}

.modal-bottom-dialog {
  display: inline-block;
  text-align: left;
  max-width: 90%;
  vertical-align: middle;
}

.modal-success div.modal-body div.modal-icon, .modal-error div.modal-body div.modal-icon, .modal-warning div.modal-body div.modal-icon {
  font-size: 2em;
  text-align: center;
  margin: 20px 0;
}

.modal-success div.modal-body div.modal-icon {
  color: #d6e9c6;
}

.modal-warning div.modal-body div.modal-icon {
  color: #ffd54f;
}

.modal-error div.modal-body div.modal-icon {
  color: #e64a19;
}

.modal-success div.modal-body, .modal-error div.modal-body, .modal-warning div.modal-body {
  font-size: 1.8em;
}

.modal-error div.modal-body {
  color: #dd2c00;
}

.modal-warning div.modal-body {
  color: #ffb300;
}

.modal-success div.modal-body {
  color: #689f38;
}

.modal-success div.modal-footer {
  text-align: center;
  border-top: none;
}

.modal-error div.modal-footer, .modal-warning div.modal-footer {
  text-align: center;
  border-top: none;
}

/* Aplicando regra CSS para os erros nos campos*/
ul.errorlist {
  background-color: #f2dede;
  background-image: linear-gradient(#f2dede 0px, #e7c3c3 100%);
  background-repeat: repeat-x;
  border-bottom-color: #dca7a7;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-image-outset: 0;
  border-image-repeat: stretch stretch;
  border-image-slice: 100%;
  border-image-source: none;
  border-image-width: 1;
  border-left-color: #dca7a7;
  border-left-style: solid;
  border-left-width: 1px;
  border-right-color: #dca7a7;
  border-right-style: solid;
  border-right-width: 1px;
  border-top-color: #dca7a7;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-top-style: solid;
  border-top-width: 1px;
  -webkit-box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
          box-shadow: rgba(255, 255, 255, 0.25) 0px 1px 0px 0px inset, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #a94442;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 15px;
  text-shadow: rgba(255, 255, 255, 0.2) 0px 1px 0px;
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
}

ul.errorlist li {
  list-style: None;
}

/* Card */
.div-card {
  padding: 16px;
  background-attachment: scroll;
  background-clip: border-box;
  background-color: white;
  background-image: none;
  background-origin: padding-box;
  background-position: 0% 0%;
  background-position-x: 0%;
  background-position-y: 0%;
  background-repeat: repeat;
  background-size: auto auto;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-collapse: collapse;
  border-spacing: 0px 0px;
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
          box-shadow: rgba(0, 0, 0, 0.14) 0px 2px 2px 0px, rgba(0, 0, 0, 0.2) 0px 3px 1px -2px, rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  min-height: 200px;
  overflow: hidden;
  overflow-x: hidden;
  overflow-y: hidden;
  position: relative;
  text-align: left;
  z-index: 1;
  margin-bottom: 16px;
}

.div-card .card-title {
  font-weight: bold;
  padding-bottom: 16px;
  width: 90%;
}

.div-card .card-content {
  padding-left: 8px;
  padding-right: 8px;
}

.div-card .card-toolbar {
  text-align: right;
  float: right;
  margin: 16px 0 8px 0;
}

/* Footer */
footer {
  padding: 16px 8px;
  position: relative;
  bottom: 0;
  max-height: 100px;
  width: 100%;
  color: #757575;
  background-color: #e0e0e0;
  text-align: center;
}
/*# sourceMappingURL=base.css.map */